@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<input type="text" id="fullName" />
<input type="text" id="userName" />
<button type="button" id="btnSave"  class="btn btn-primary" onclick="save()">
    Save
</button>

<script src="~/js/index.js"></script>